body {
  background-color:#000; 
  color:#0f0; 
  font-family:monospace,monospace; 
  font-size:1em;
  }
a:link {
  color:#0ff; 
  text-decoration:underline;
  }
a:visited {
  color:#0ff; 
  text-decoration:underline;
  } 
a:hover {
  color:#909; 
  text-decoration:underline;
  } 
a:active {
  color:#f00; 
  text-decoration:underline;
  }
.menubar {
  text-align:right; 
  padding-bottom:2em;
  }
.tagline {
  font-style:italic;
  }
.footer {
  font-style:italic; 
  text-align:center; 
  padding-top:2em;
  }
