body {
  background-color:#fff; 
  color:#444; 
  font-family:monospace,monospace; 
  font-size:1em;
  }
a:link {
  color:#00f; 
  text-decoration:none;
  }
a:visited {
  color:#00f; 
  text-decoration:none;
  } 
a:hover {
  color:#00f; 
  text-decoration:underline;
  } 
a:active {
  color:#f00; 
  text-decoration:underline;
  }
.tagline {
  font-style:italic;
  }
.footer {
  font-style:italic; 
  text-align:center; 
  padding-top:2em;
  }
